* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,

body {
    height: 100%;
    
}

img {
    width: 15%;
    flex-shrink: 0; /* To prevent loss of aspect ratio on shrinking */
    min-width: 95px;
}

aside {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 3vh;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

main {
    display: flex;
    min-height: 97%;
}

.header {
    background-color: #008CE2;
    padding: 15px;
    display: flex;
    color: white;
    gap: 15px;
}

a {
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.header_description {
font-size: small;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.content {
    flex: 1;

}

li {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5vh;
    margin-right: 5vh;
}

li p {
    width: 25%;
    font-size: medium;
}

.courses_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    background-color: #DB4E3D;
    color: white;
    font-size: small;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    background-color: #DB4E3D;
    color: white;
    font-weight: 200;
    font-size: small;
    display: flex;
    height: 3vh;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-between;
    width:auto;
    flex: 1;
    margin-right: 5%;
}

.left {
    margin-left: 5%;
    margin-right: 10%;
}

